body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;}

.songListApp {
  background: black;
  width: 300px;
  padding-top: 18px;
  background-color: #5C75B0;
  border: 1px solid #E3E3E3;
}
